body {
  margin: 0;
  color: #ffffff;
  font-size: 20px;
}

.slider {
  width: 100vw;
  max-width: 100vw;
  min-height: 100vh;
  margin: 0 auto;
  padding: 20px;
  background-color: #2a2a2a;
}

input[type='radio'] {
  display: none;
}

.slider-inner {
  max-width: 600px;
  margin: 0 auto;
  overflow: hidden;
}

.slider-inner img {
  border-radius: 10px;
}

.slider-slides {
  display: flex;
  width: 400%; /* 4 slides */
  transition: margin-left 0.6s ease-in-out;
}

/* Для управления стилем родственных элементов используется символ тильды (~), он добавляется между двумя селекторами E и F. Пробелы вокруг тильды не обязательны. Стиль при такой записи применяется к элементу F в том случае, если он имеет того же родителя, что и элемент E и следует сразу после него. */
#btn-0:checked ~ .slider-inner .slider-slides {
  margin-left: 0;
}

#btn-1:checked ~ .slider-inner .slider-slides {
  margin-left: -100%;
}

#btn-2:checked ~ .slider-inner .slider-slides {
  margin-left: -200%;
}

#btn-3:checked ~ .slider-inner .slider-slides {
  margin-left: -300%;
}

.slider-bullets {
  margin: 0 auto;
  text-align: center;
}

.slider-bullets label {
  display: inline-block;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.slider-bullets label span {
  display: block;
  width: 12px;
  height: 12px;
  margin: 9px auto;
  border-radius: 100%;
  background: #849bff;
  cursor: pointer;
  box-sizing: border-box;
  transition: background-color 0.3s, border-color 0.3s;
}

.slider-bullets label:hover span {
  background-color: #ffffff;
  border: 2px solid #ffffff;
}

#btn-0:checked ~ .slider-bullets label:nth-child(1) span,
#btn-1:checked ~ .slider-bullets label:nth-child(2) span,
#btn-2:checked ~ .slider-bullets label:nth-child(3) span,
#btn-3:checked ~ .slider-bullets label:nth-child(4) span,
span {
  border: 2px solid #849bff;
  background-color: transparent;
  transition: border-color 0.3s;
}

#btn-0:checked ~ .slider-bullets label:nth-child(1):hover span,
#btn-1:checked ~ .slider-bullets label:nth-child(2):hover span,
#btn-2:checked ~ .slider-bullets label:nth-child(3):hover span,
#btn-3:checked ~ .slider-bullets label:nth-child(4):hover span {
  border-color: #ffffff;
}
